<main class="w-screen h-screen flex flex-col items-center justify-center  bg-accentDark/50 p-2">
  <div class="rounded-md border-primaryDark border-2 flex flex-col p-10">
    <h1 class=" font-bold text-3xl w-full text-center text-primaryDark  ">Smartlive OTP</h1>
    <p class="text-center mt-2 text-sm text-accent">See your email <br> {{formatEmail()}}</p>
    <app-input type="text" name="otp" (valid)="otp.valid = $event" [(value)]="otp.value" placeholder="00000"
      class="placeholder:text-center text-center" (keyPress)="handleKeyPress($event)" />
    <app-button type="button" class="py-2 px-4 mx-auto" [(isClicked)]="isLoading" (clicked)="validateOtp()"
      [enabled]="otp.valid" [loader]="true" text="Sign In" />
  </div>
</main>